<!-- bind => interpolation {{}} -->
 <!-- <h1>{{firstTitle}}</h1>


 <h3>{{sayHello()}}</h3> -->


 <h1 class="trackName">{{track.trackName}}</h1>
 <h3>{{track.trackNumber}}</h3>
 <h3>{{track.trackCourses}}</h3>
<!-- <img src={{track.trackImg}} width="300"> -->
<button (click)="toggleImg()">Show/Hide Img</button>

<!-- true =>show in dom -->
<!-- false =>hide element from dom -->
@if(toggleimg){
<img [src]="track.trackImg" width="300">
}
<!-- <input type="text" [value]="inputValue"> -->

<!-- angular material  -->
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
